@model List<LabAccEntity.Models.Data.Sample>
@foreach (var Item in Model)
{
    <tr data-id="@Item.Id.Value" class="dataline">
        <td>@Item.DateReceived.ToString("dd.MM.yyyy")</td>
        <td>@Item.BatchNumber</td>
        <td>@Item.Name</td>
        <td>@Item.Category.Description</td>
        <td>@Item.AggrState.Description</td>
        <td>@Item.Class.ShortName</td>
        <td><span class="@(Item.Precursor ? "glyphicon glyphicon-ok" : "glyphicon glyphicon-remove")"></span></td>
        <td>@Item.Supplier</td>
        <td>@Item.DateExpiration.ToString("dd.MM.yyyy")</td>
    </tr>
}

