@model Tuple<Int32, string>
@{
    ViewBag.TitlePage = "Журнал учета реактивов";
}

@Scripts.Render("~/bundles/datepicker")
@Scripts.Render("~/bundles/main_page")
@Styles.Render("~/Content/mainpage")

@Html.Hidden("Page", Model.Item1)

<div id="load" style="position: absolute; left: 0; top: 0; height: 100%; width: 100%; z-index: 9876; background-color: rgb(200,200,200); opacity: 0.45;">
    <div class="pageloader"></div>
</div>

<div class="row display-flex">
    <div class="col-lg-2 col-sm-3" style="align-self: flex-end;">
        <a class="btn btn-primary" data-toggle="modal" data-target="#SampleAdd">
            <span class="glyphicon glyphicon-plus"></span>
            Добавить реагент
        </a>
    </div>
    <div class="col-sm-6 col-lg-offset-1">
        <h2 class="center-block text-center">Журнал реагентов</h2>
    </div>
    <div class="col-lg-2 col-lg-offset-1 col-sm-3" style="align-self: flex-end;">
        <input type="text" value="@Model.Item2" id="DatePageSelector" class="form-control" autocomplete="off">
    </div>
</div>
<table class="table table-hover table-striped table-condensed" id="SampleTable">
    <thead>
        <tr>
            <th><b>Дата поступления</b></th>
            <th><b>Номер партии</b></th>
            <th><b>Наименование</b></th>
            <th><b>Категория</b></th>
            <th><b>Агр. сост.</b></th>
            <th><b>Класс</b></th>
            <th><b>Прекурсор</b></th>
            <th><b>Поставщик</b></th>
            <th><b>Срок годности</b></th>
        </tr>
    </thead>
    <tbody>
        <tr id="DataLoadTop" class="lineload @(Model.Item1 <= 1 ? "hidden" : "")">
            <td colspan="9" class="text-center">Загрузить данные</td>
        </tr>
        <tr id="DataLoadBot" class="lineload">
            <td colspan="9" class="text-center">Загрузить данные</td>
        </tr>
    </tbody>
</table>

<div id="SampleAdd" class="modal" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-wide">
        <div class="modal-content">
            <div class="modal-body" id="SampleAddBody">
            </div>
            <div class="modal-footer">
                <button type="button" id="SampleAddSave" class="btn btn-primary">Сохранить</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
            </div>
        </div>
    </div>
</div>

<script>
    var MetaDataUrl = "@Url.Action("MetaData", "Journal")";
    var TemplatesUrl = "@Url.Action("GetTemplatesJson", "Journal")";
    var SampleListUrl = "@Url.Action("GetSampleListJson", "Journal")";
    var SampleSaveUrl = "@Url.Action("SaveSample", "Journal")";
</script>